
/*html {
    color: #222;
    background: rgb(260, 222, 235);
    font-size: 1em;
    line-height: 1.4;
    
    
}
*/

html {
    color: #222;
    background: rgb(260, 222, 235);
    font-size: 1em;
    line-height: 1.4;
    font-family: serif;
    color: rgb(231, 18, 18);
}

body {
    padding-bottom: 100px;
    border-bottom: 7px solid #ff0000
}

a {
    text-decoration: underline;
    color: rgb(231, 18, 18);
}

a:hover {
    color: black;
}

a:visited {
    color: black;
}

img.logo {
    display: block;
    margin: 0 auto;
    height: 200px;
}
h1 {
    font-size: 7vw;
    line-height: .666em;
    font-style: italic;
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 5vw;
    cursor: pointer; 
    cursor: hand;
}

.linkz {
    font-size: 2vw;
    line-height: .666em;
    font-style: italic;
    margin-top: 15vh;
    margin-bottom: 5vw;
    cursor: pointer; 
    cursor: hand;
}
h2 {
    text-align: center;
    margin-bottom: 3vh;
}
h1, h2 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
h2 a {
    text-decoration: none;
}

table {
    max-width: 98vw;
    margin: 0 auto 0 auto;
    font-size: 4.4vw;
    overflow: scroll;
}

td, th {
    border: 5px solid rgb(260, 222, 235);
    padding: 5px 2px 2px 2px;
    text-align: left;
}
th {
    padding-bottom: 0;
}

td:hover {
    border: 5px double black;
    color: black;
}

@media (min-width: 700px) {
    table {
        font-size: 2.3vmin;
    }
    td, th {
        text-align: right;
        border: 5px solid rgb(260, 222, 235);
        padding: 5px 5px 2px 5px;
    }
}
#versing {
    font-family: serif;
    text-transform: uppercase;
}
caption {
    font-weight: bold;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}
.link {
    text-decoration: none;
}
#smallerContainer {
    margin-left: auto;
    margin-right: auto;
}
#cont {
    text-align: center;
    font-size: 18px;
}
ul#menu {
    margin-top: 100px;
}
ul#menu li{
    display: inline;
    margin-right: 10px;
    color: #222;
}
#bandcamp {
    display: block;
    margin: 0 auto;
}
.embed {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.soundcloud {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.choose:link {
    text-decoration: none;  
    font-family: serif;
    color: white;
}

/* visited link */
.choose:visited {
    text-decoration: none;   
    font-family: serif;
    color: white;
}


/* mouse over link */
.choose:hover {
    text-decoration: none;   
    color: rgb(231, 18, 18);
}

/* selected link */
.choose:active {
    text-decoration: none;   
    color: white;
} 


#yeah {
    padding-top: 360vh;
    margin-bottom: 7px;
    text-align: left;
}
#yeah a {
    color: rgb(231, 18, 18);
    text-decoration: underline;
}

#yeah a:hover {
    color: black;
}

.cell {
    text-transform: uppercase;
}

